@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

div {
  font-family: "Comfortaa", sans-serif;
  font-family: "Poppins", sans-serif;
}

.project-content:hover img {
  transform: scale(1.1);
  transition: all 0.4s linear;
}
