.links {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-family: cursive;
  display: flex;
  gap: 1.8rem;

  align-items: center;
  width: max-content;
  margin: auto;
}
.commo-header-img {
  color: rgb(201, 236, 236);
}

.textOnImageStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  margin-top: 0.8rem;
}

.contactimage {
  width: 100%;
  height: 440px;
}

@media (max-width: 786px) {
  .contactimage {
    height: 280px;
  }

  .links {
    font-size: 19px;
  }

  .textOnImageStyle {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    /* line-height: 2.3rem; */
    margin-top: 0.8rem;
  }
}

@media (max-width: 420px) {
  .contactimage {
    height: 230px;
  }

  .links {
    font-size: 16px;
  }

  .textOnImageStyle {
    font-size: 35px;
    white-space: nowrap;
    /* line-height: 2rem; */
    margin-top: 0.8rem;
  }
}
